<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

<%= form_for @listing do |f| %>
	<%= f.label :"Title:"%>
	<%= f.text_field :titles %>
</br>
	<%= f.label :"Description:"%>
	<%= f.text_field :descriptions %>
</br>
	<%= f.label :"Address:"%>   
   <%= f.text_field :locations %>
</br>   
	<%= f.label :"Price:"%>   
   <%= f.text_field :prices %> 
</br>   
   <%= f.submit "Post" %>     
<% end %>